body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

red-font h1{
  color: red !important;
}

.banner {
  background-image: url('./banner/banner-2.jpg');
  background-size: cover;
}

.star-logo  {
  background-image: url('./logo/star.png');
  background-size: cover;
}

.star-logo::before p {
  background-image: url('./logo/star.png');
  background-size: cover;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: black;
  box-shadow: black ;
  float: left;
}

.image {
  background-image: url('./image/ak.png');
  background-size: cover;
  width: 120px;
  height: 150px;
}

